.about-container {
  display: flex;
  width: 90%;
  margin: 5%;
  /* margin-top: -5%; */
  height: auto;
  min-height: 30vh;
}

.about-left {
  height: 100%;
  width: 10%;
}

.about-right {
  height: 100%;
  width: 60%;
}

.about-content {
  font-size: 1.7em;
  text-indent: 5%;
}
