.about-container {
  display: flex;
  width: 90%;
  margin: 5%;
  margin-top: -5%;
  height: auto;
}

.about-left {
  height: 100%;
  width: 10%;
}

.about-right {
  height: 100%;
  width: 80%;
}

.about-content {
  font-size: 1.7em;
  text-indent: 5%;
}
