.contact-container {
  display: flex;
  width: 90%;
  margin: 5%;
  height: auto;
}

.contact-left {
  height: 100%;
  width: 40%;
}

.contact-right {
  height: 100%;
  width: 60%;
}

.contact-content {
  font-size: 1.7em;
  text-indent: 5%;
}