.contact-container {
  display: flex;
  width: 90%;
  margin: 5%;
  height: auto;
}

.contact-left {
  height: 100%;
  width: 20%;
}

.contact-right {
  height: 100%;
  width: 80%;
}

.contact-content {
  font-size: 1.7em;
  text-indent: 5%;
}

.contacy-item {
  margin: 5%;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
}