.menu-container {
  display: flex;
  width: 90%;
  margin: 5%;
  height: 100vh;
}

.menu-left {
  /* background-color: pink; */
  height: 100%;
  width: 40%;
}

.menu-right {
  background-color: lightskyblue;
  height: 100%;
  width: 60%;
}

.menu-item {
  margin: 5%;
}

.menu-item-content {
  text-indent: 10%;
  line-height: 1.6;
}
