.menu-container {
  display: flex;
  width: 90%;
  margin: 5%;
  height: auto;
  min-height: 70vh;
}

.menu-left {
  height: 100%;
  width: 40%;
}

.menu-right {
  height: 100%;
  width: 60%;
}

.menu-item {
  margin: 5%;
}

.menu-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
}

.menu-item-content {
  text-indent: 5%;
  line-height: 1.6;
  margin: 3% auto;
  font-size: 1.2em;
}
